body,
td,
th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#carte {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 512px;
	height: 347px;
	z-index: 1;
}

#panneau {
	position: absolute;
	left: 514px;
	top: 0px;
	width: 171px;
	height: 232px;
	z-index: 2;
}

.txt-info {
	border: 1px solid #999999;
	background-color: #FFFFCC;
	text-align: center;
	width: 38px;
	height: 16px;
}

.save-set-button {
	float: right;
}

.txt-to-use {
	border: 1px solid #999999;
	background-color: #FFFFCC;
	text-align: center;
	width: 35px;
	height: 16px;
}

.multiColorBtnContainer {
	display: flex;
}

.multiColorBtnGrayContainer {
	display: inline-flex;
}

.radioWithLabel {
	min-width: auto;
	white-space: nowrap;
}

.radioWithLabel input {
	margin-right: 0px;
}

.multiColorBtn {
	font-size: xx-small;
	padding-left: 1px;
	padding-right: 1px;
}

.rail {
	position: absolute;
	visibility: hidden;
	z-index: 11;
}

th {
	text-align: left;
}

.imgBlue {
	filter: invert(100%) sepia(29%) hue-rotate(195deg)  saturate(67) contrast(1.5)
}
.imgBlack {
	filter: invert(100%) brightness(178%) contrast(2.5) grayscale(55%)
}
.imgRed {
	filter: invert(100%) sepia(29%) hue-rotate(350deg)  saturate(67) contrast(1.5)
}
.imgOrange {
	filter: invert(70%) sepia(155%) saturate(600%) hue-rotate(-14deg)
}
.imgYellow {
	filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(15deg) brightness(120%)
}
.imgGreen {
	filter: invert(100%) sepia(29%) hue-rotate(75deg)  saturate(67) contrast(1.5)
}
.imgWhite {
	filter: brightness(111%) saturate(0.5) grayscale(1)
}
.imgPink {
	filter: invert(100%) sepia(29%) hue-rotate(219deg)  saturate(67) contrast(1.5)
}
.imgGray {
	filter: grayscale(1) brightness(0.6) contrast(0.9);
}